In [42]:
fruits = ["apple","bananba","orange","coconut"]
print(fruits[3])
print(fruits[0:3])
print(fruits[1:-1])
print(dir(fruits))
print(len(fruits))

coconut
['apple', 'bananba', 'orange']
['bananba', 'orange']
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
4

In [43]:
fruits[0]="abc"
fruits.append("apple")
fruits.insert(1,"pineapple")
print(fruits)

['abc', 'pineapple', 'bananba', 'orange', 'coconut', 'apple']

In [44]:
fruits.sort()
print(fruits)
print(fruits.index("coconut"))
print(fruits.count("coconut"))
fruits.clear()
print(fruits)

['abc', 'apple', 'bananba', 'coconut', 'orange', 'pineapple']
3
1
[]

In [45]:
list=[1,2,3,[4,5]]
print(1 in list)
print([4,5] in list)
print(4 in list)
print(4 in list[3])

True
True
False
True

In [46]:
list1=[1,2,3,[4,5,[6,7,8],9]]
print(list1[3])
print(list1[3][2])
print(list1[3][2][1])

[4, 5, [6, 7, 8], 9]
[6, 7, 8]
7

In [47]:
word = ['apple', 'banana', 'orange']
uppercase = [word.upper() for word in word]
print(uppercase)

['APPLE', 'BANANA', 'ORANGE']

In [ ]:
#set
# the data set can store any where in python
# we cant indexing in tuple in python
fruits={"apple","orange","coconut","banana"}
print(dir(fruits))
print(fruits)
print(fruits.pop())

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']
{'orange', 'banana', 'apple', 'coconut'}
orange

In [55]:
set1 = {"a", "b", "c", "d"}
print(set1)
set1.remove("a")
print(set1)
set1.discard("a")
print(set1)

{'d', 'a', 'c', 'b'}
{'d', 'c', 'b'}
{'d', 'c', 'b'}

In [60]:
#tuple
# tuple is immutable ,in ordered collection of items
# tuple is used to store multiple items in a single variable
tuple1 = ("apple", "banana", "orange")
print("1)",tuple1)
print("2)",tuple1[0])
print("3)",tuple1[1:3])
print("4)",tuple1[-1])

1) ('apple', 'banana', 'orange')
2) apple
3) ('banana', 'orange')
4) orange

In [64]:
newTuple = ("apple", "banana", "orange")
newTuple+=("grape",)
print(newTuple)

('apple', 'banana', 'orange', 'grape')

In [69]:
#Tuples can be created using parentheses () ot the tuple constructor
fruits = ("apple", "banana", "orange")
(green,yellow,red)=fruits
print(green)
print(yellow)
print(red)
(green,*red)=fruits #packaging and unpacking
print(red)

apple
banana
orange
['banana', 'orange']

In [75]:
t= (1,2,(3,4),["a","b"])
print(t)
print(t[2][1])  # Accessing nested tuple element
print(t[3][0])  # Accessing nested list element within a tuple

(1, 2, (3, 4), ['a', 'b'])
4
a

In [77]:
#def list
fruits= ("apple")
print(type(fruits))  # This will show <class 'str'>, not a tuple
print(fruits)

<class 'str'>
apple

In [80]:
list =[1,"hello",3.14,True]
tuple = (1,"hello",3.14,True)
set = {1,"hello",3.14,True}
print(list,tuple,set)

[1, 'hello', 3.14, True] (1, 'hello', 3.14, True) {1, 3.14, 'hello'}

In [81]:
list_fruits = ["apple", "banana", "orange"]
for i in list_fruits:
    if( i == "banana"):
        print("Found banana!")
        break

Found banana!

In [89]:
if "banana" in list_fruits:
    print("Found banana!")
else:
    print("Banana not found!")

Found banana!

In [91]:
i =0
while i < len(list_fruits):
    print(list_fruits[i])
    i=i+1
print(fruits*2)  # This will raise an error because fruits is a string, not a list or tuple

apple
banana
orange
appleapple

In [113]:
#dictionary
# A dictionary is a collection of key-value pairs
#it is unordered, changeable, and indexed
# dictionaries are written with curly brackets, and they have keys and values
student = { 1:"first",
           "name" : "oshan",
              "age" : 20,
              "class" : "BEC",
              "cources": ["python", "java", "c++"]
              }
print(student)
print(student["name"])
print(student["age"])
print(student["cources"][0])
print(student.get("age"))  # This will return the list of courses
print(dir(student))
# print(help(student))

{1: 'first', 'name': 'oshan', 'age': 20, 'class': 'BEC', 'cources': ['python', 'java', 'c++']}
oshan
20
python
20
['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [124]:
student["name"] = "John"  # Update the name
student["Job"] = "Enginering"  # Add a new key-value pair
student["age"] = 21  # Update the age
print(student)

{1: 'first', 'name': 'John', 'age': 21, 'class': 'BEC', 'cources': ['python', 'java', 'c++'], 'Job': 'Enginering', 'name\n': 'John'}

In [111]:
del student["age"]  # This will delete the key "age" and its value
print(student)

{1: 'first', 'name': 'oshan', 'class': 'BEC', 'cources': ['python', 'java', 'c++']}

In [114]:
if "oshan" in student.values():
    print("Found oshan!")

Found oshan!

In [115]:
for key in student:
    print(key)

1
name
age
class
cources

In [116]:
for value in student.values():
    print(value)

first
oshan
20
BEC
['python', 'java', 'c++']

In [125]:
for key, value in student.items():
    print(key, ":", value)

1 : first
name : John
age : 21
class : BEC
cources : ['python', 'java', 'c++']
Job : Enginering
name
 : John

In [ ]:
student = {
  "student1": {
        "name": "oshan",
        "age": 20,
        "class": "BEC",
        "courses": ["python", "java", "c++"]
    },
    "student2": {
        "name": "John",
        "age": 21,
        "class": "BEC",
        "courses": ["python", "java", "c++"]
    }
}

print(student["student1"]["name"])  # Output: oshan

oshan

In [ ]:
square = {x:x*x for x in range(1, 11)}
print(square)  # This will print a dictionary with numbers as keys and their squares as values